<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Diary - Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="../assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../assets/landing-page.css" rel="stylesheet">
    <link href="../assets/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
             <a class="navbar-brand topnav" href="/">Nola Alzayat</a>
               </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="../information/about">About</a>
                        </li>
                        <li>
                            <a href="#">Diary</a>
                      </li>
                      <li>
                           <a href="../message/contact">Contact</a>
                      </li>
                 </ul>
             </div>
             <!-- Navbar-collapse -->
        </div>
    </nav>



    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="intro-message">
                        <h1>Diary</h1>
                        <hr class="intro-divider">
                        <h4>Be the change you want to see in the world.</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Intro-Header -->

    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Log</h2>
                    <h3 class="section-subheading text-muted">Welcome to my thoughts.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="collapse">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/ThankYou1.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Thank You</h4>
                        <p class="text-muted">August 2016</p>
                    </div>
                </div>
            </div>
        </div>
    </section>          


    <!-- Diary Models -->
    <!-- Diary 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Thank You</h2>
                                <p class="item-intro text-muted">To the one I love most.</p>
                                <img class="img-responsive img-centered" src="../assets/ThankYou.jpg" alt="">
                                <p>Dear Mihad, you have always been there for me and for that I am thankful. You have helped me through the hardest parts of my life. We may not always get along, in fact we rarely do, but I love you. You mean the world to me. I cannot express how much I value your patience but I'm sure you understand. Thank you for always helping me. I wouldn't be who I am today if it weren't for you.</p>
                                <ul class="list-inline">
                                    <li>Date: August 2016</li>
                                    <li>Category: Thank You</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"> <i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	


	<a  name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Get to know me!</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://www.linkedin.com/in/nolaalzayat" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/nalzayat" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/nolaalzayat/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="../information/about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#">Diary</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                             <a href="../message/contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Nola Alzayat 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

   

</body>
</html>
